html {
    overflow-y: scroll;
    overflow-x: hidden;
}

html{
  display: block;
}

html,
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  height: 100%;
  overflow: hidden;
}

td, th{
  padding: .5em;
}

th, td:first-child {
  color: chocolate;
  text-shadow: none;
}

hr{
  width: 100%;
}

a,
a:focus,
a:hover {
  color: #fff;
}


ul,li{
  outline: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button{
  max-height: 25px;
  align-self: center;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

main {
    position: relative;
    padding-top: 60px;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }

footer {
    margin-top: 15px;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.flights-container {
  height: 100%;
}

.inner {
  padding: 30px;
}

.pad.mgt5 {
  margin-top: 5em;
}

.header-bgr{
  background: rgba(38,125,167,.9);
  box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 1em 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
  transition: all ease-in 0.4s;
}

.shadow-box {    
  box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 1em 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
  background: rgba(38,125,167,.6);
}

/*
 * Flights
 */

.flights {
  padding: 1em 2em;
  margin: 0;
}
.flights .btn-lg {
  padding: 1em 2em;
  font-weight: bold;
}
.carrier-logo{
  height: 2em;
  width: 100%;
}
.EZY {
  background: url('./images/ej-transparent-x.png') no-repeat center bottom;
}

.flight-item {
  padding: .5em;
}

.list-items li{
  margin-bottom: 1em;
}

.pad{
  padding: 0 2em;
  width: 700px;
  margin: 0 auto;
}

.form-control {
  width: 12em;
}

/*
 * Flex
 */

 .flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-none {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.flex-grow {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.flex-auto {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-nogrow,
.flex-initial {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.flex-noshrink {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex,
.flex-none,
.flex-auto,
.flex-grow,
.flex-nogrow,
.flex-initial,
.flex-noshrink {
    box-sizing: border-box;
}

[layout]>* {
    min-height: auto;
    min-height: initial;
}

.layout,
.layout-column,
.layout-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-column>.flex {
    min-height: 0;
}

.layout-row>.flex {
    min-width: 0;
}

.row-center { 
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.column-center {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.page-layout {
    position: relative;
    overflow: auto;
}


.layout-row {
  justify-content: space-between;
}

.layout-row div {
  padding: 0 .5em;
}

.flex-left{
  align-self: flex-start;
}

.flex-right{
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.flex-center{
  align-self: center;
  justify-content: center;
}

.flex-center.layout-row p {
  padding: 0 0.3em;
}

.flex-bottom{
  align-self: flex-end;
}

.fa-thumbs-up, .fa-check-circle{
  color:#1cc123;
}

.fa-thumbs-down, .fa-minus-circle{
  color:#c11c1c;
}

.fa-info-circle{
  color:chocolate;
}

.fa-chevron-down{
  font-size: 100%;
}

.price{
  font-size: 120%;
}
.subline{
  text-decoration: underline;
  font-size: 140%;
  cursor: pointer;
}
.details{
  cursor: pointer;
}
.subline.normal{
  font-size: 100%;
}

.no-marg{
  margin: 0;
}

.search-header {
  padding: 1em 0;
}

app-flights {
  overflow-x: auto;
  padding: 1em 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.search-list{
  width: 700px;
  margin: 0 auto;
}